#settbutton{
    background-image: linear-gradient(to top, rgb(125, 125, 125), rgb(204, 201, 201));
}
body{
    background-image: url(hi.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

button{
    border-radius: 10px;
}
@keyframes myanim{
    0% {left: 0px; top: 100px;}
    5% {left: 20px; top: 120px;}
    10% {left: 40px; top: 140px;}
    20% {left: 100px; top: 100px;}
    25% {left: 100px; top: 100px;}
    30% {left: 120px; top: 100px;}
    35% {left: 140px; top: 175px;}
    40% {left: 160px; top: 100px;}
    45% {left: 200px; top: 185px;}
    50% {left: 240px; top: 190px;}
    60% {left: 280px; top: 170px;}
    65% {left: 320px; top: 125px;}
    70% {left: 350px; top: 124px;}
    80% {left: 3100px; top: 120px;}
    90% {left: 400px; top: 116px;}
    95% {left: 425px; top: 112px;}
    96% {left: 460px; top: 105px;}
    98% {left: 500px; top: 100px;}
    99% {left: 545px; top:90px;}
    100% {left: 390px; top:70px; display: none;}
}

#animcontainer{
position: relative;
    animation: myanim 5s ease 0s;
}