#settbutton{
    animation: myloadanim 5s ease 0s;
    background-image: linear-gradient(to top, rgb(125, 125, 125), rgb(204, 201, 201));
}
#phonecontainer{
    display: block;
    background-image: url(hi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    animation: myloadanim 5s ease 0s;
    border-radius: 8px;
    height: 780px;
    width: 360px;
}

button{
    border-radius: 10px;
    animation: myloadanim 3s ease 0s;
}

@keyframes myloadanim{
    0%{background-color: rgb(0, 0, 0); background-image: url();}
    10%{background-color: rgb(0, 27, 38);}
    20% {background-color: rgb(1, 53, 74);}
    30%{background-color: rgb(3, 92, 127);}
    40%{background-color: rgb(3, 105, 146);}
    50%{background-color: rgb(4, 156, 216);}
    60%{background-color: rgb(38, 186, 244);}
    80%{background-color: rgb(69, 187, 234);}
    100%{background-color: rgb(104, 204, 244);}
}
