#settbutton{
    background-image: linear-gradient(to top, rgb(125, 125, 125), rgb(204, 201, 201));
}
body{
    background-image: url(hi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    animation: myloadanim 5s ease 0s;
}

button{
    border-radius: 10px;
}

@keyframes myloadanim{
    0%{background-color: rgb(0, 0, 0); background-image: url();}
    20%{background-color: rgb(0, 39, 55);}
    30% {background-color: rgb(2, 65, 90);}
    40%{background-color: rgb(3, 92, 127);}
    50%{background-color: rgb(3, 116, 160);}
    60%{background-color: rgb(2, 141, 196);}
    80%{background-color: rgb(2, 166, 231);}
    99%{background-color: rgb(0, 183, 255);}
    100%{background-color: rgb(0, 183, 255);}
}
