#settbutton{
    background-image: linear-gradient(to top, rgb(125, 125, 125), rgb(204, 201, 201));
}
body{
    background-image: url(hi.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}