.rectangle{
    width: 1000px;
    height: 600px;
    background-image: url(bgbetter.png);
    background-color: skyblue;
}

.storageimg{
    border-radius:30px;
    height: 100px;
    width: 200px;
}