body{
    background-color: black;
}
#sausage{
   border-radius: 50%;
   background-color: rgb(206, 95, 78);
   display: inline-block;
   position: relative;
   animation: myanimsausage 5s ease 0s;
   animation-iteration-count: infinite;
}

@keyframes myanimsausage{   
0%{transform: rotate(10deg);}
20%{transform: rotate(20deg);}
40%{transform: rotate(30deg);}
60%{transform: rotate(20deg);}
80%{transform: rotate(10deg);}
100%{transform: rotate(5deg);}
}