body{
    background-color: rgb(121, 121, 121);
    align-items: center;
}

button{
    width:200px;
    height:100px;
    background-color: transparent;
    border-radius: 10px;
    border-width: 2px;
    border-color:white;
}

p{
    color:white;
}

.squaree{
   background-color: black;
   height: 1320px;
   width:520px;
   color:white;
   border-radius: 10px;
}