body{
    background-color: rgb(121, 121, 121);
    align-items: center;
}

button{
    width:200px;
    height:100px;
    background-color: transparent;
    border-radius: 10px;
    border-width: 2px;
    border-color:white;
}

p{
    color:white;
}

.squaree{
   background-image: linear-gradient(to top, black, rgb(36, 36, 36), rgb(56, 56, 56));
   height: 1320px;
   width:520px;
   color:white;
   border-radius: 10px;
   align-self: center;
   align-content: baseline;
}